
name: Build and Deploy
on: [push]
jobs:
  build-and-publish-docker-image:
    name: Build and publish docker image
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build and Push Docker Image to Harbor
        uses: docker/build-push-action@v1
        with:
          dockerfile: public.Dockerfile
          repository: razorpay/amundsen-frontend
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          tags: oidc-${{ github.sha }}
          target: oidc-release
